<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HARETalk</title>
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="icon" type="image/x-icon" href="/img/icon.png">
    </head>
    <body>
        <div class="container">
            <nav class="sidebar">
                <div class="flex">
                    <ul class="list">
                        <img src="/img/icon.png" class="list logo" />
                    </ul>
                    <ul class="list">홈</ul>
                    <ul class="list">챗 목록</ul>
                    <ul class="list">타임라인</ul>
                </div>
                <div class="flex">
                    <ul class="list">알림</ul>
                    <ul class="list">설정</ul>
                </div>
            </nav>
            <div class="main container">
                <div class="toolbar">
                    <div class="search list">검색</div>
                    <div class="addfriend list">친구추가</div>
                </div>
                <div class="profilebox">
                    <div class="profile">마이프로필</div>
                    <div class="content">
                        <img src="/img/profile.jpg" class="img" />
                        <div class="">
                            <div class="name">아루</div>
                            <div class="status">블루 아카이브</div>
                        </div>
                    </div>
                </div>
                <div class="friendlist">
                    <div class="content">
                        <img src="/img/profile.jpg" class="img" />
                        <div class="">
                            <div class="name">아루</div>
                            <div class="status">몰?루</div>
                        </div>
                    </div>
                </div>
                <div class="friendlist">
                    <div class="content">
                        <img src="/img/profile.jpg" class="img" />
                        <div class="">
                            <div class="name">아루</div>
                            <div class="status">몰?루</div>
                        </div>
                    </div>
                </div>
                <div class="friendlist">
                    <div class="content">
                        <img src="/img/profile.jpg" class="img" />
                        <div class="">
                            <div class="name">아루</div>
                            <div class="status">몰?루</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/login">로그아웃</a>
    </body>
</html>